{%  extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="container">
        <form class="form-signin" method="post">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Reset Password </legend>
                {{ form|crispy }}
                {# as_p changes the from fields in para fromat #}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-sm rounded-pill btn-outline-success" type="submit">Reset Password</button>
            </div>
        </form>
    </div>
{% endblock content%}