{% extends 'blog/base.html' %}
{% block content %}
<div class="container">
        <div class="row">
            {% for post in favourite_posts %}
            <div class="col-sm-4 p-1">
                <div class="card">
                    <div class="card-body">
                    <h5 class="card-title">{{post.title}}</h5>
                    <h6 class="card-subtitle mb-2 text-muted font-weight-lighter">{{post.author|capfirst}} | {{post.created}} | <span class="badge badge-dark">{{ post.likes.count }} Like{{post.likes.count|pluralize}}</span></h6>
                    <a href="{% url 'post-detail' post.id post.slug %}" class="btn btn-success">Read</a>
                    </div>
                </div>
            </div>
            {% empty %}
                <div class="container">
                    <h3>Oops! No favourite post found"</h3>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock content %}