{% extends 'blog/base.html' %}
{% block content %}
<div class="album ">
        <h3 class="border-bottom border-success mb-4">
                <span class="text-success">Recent posts</span>
                <button class="btn btn-sm btn-success float float-right dropleft" type="button dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-filter mr-1"></i>Filter</button>
                    <div class="dropdown-menu">
                        <span class="dropdown-item-text">Sorted by</span>
                        <a class="dropdown-item" href="#">Recent posts</a>
                        <a class="dropdown-item" href="#">Most liked</a>
                        <a class="dropdown-item" href="#">Most commented</a>
                        <div class="dropdown-divider"></div>
                        <span class="dropdown-item-text">Sorted by date</span>
                        <a class="dropdown-item" href="#">...</a>
                        
                    </div>
                <a href="{% url 'create-ask-question' %}" class="btn btn-sm btn-success float float-right mr-1">Ask Question</a>
            </h3>
            <div class="row">
                {% for post in posts %}
                <div class="col-md-4">
                    <div class="card shadow p-2 mb-5 bg-white rounded">
                            <img class="p-0.5" src="{{post.banner.url}}" height="210" width="330">
                    <div class="card-body">
                        <a href="{% url 'post-detail' post.id post.slug %}" class="text-success"><h5 class="card-title">{{post.title}}</h5></a>
                        <h6 class="card-subtitle mb-2 text-muted font-weight-lighter">
                            <form action="{% url 'post-author-profile' %}" method="POST">
                                {% csrf_token %}
                                <input type="hidden" name="idno" value="{{ post.author.id}}">
                                <button type="submit" class=" badge text-monospace">{{post.author}}</button> 
                            </form>| {{post.created}} | <span class="badge badge-dark">{{ post.likes.count }} Like{{post.likes.count|pluralize}}</span></h6>
                        <!-- <p class="card-text">{{post.body|safe|truncatewords:15}}</p> -->
                        <div class="d-flex justify-content-between align-items-center">
                        <!-- <div class="btn-group">
                            <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                            <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                        </div> -->
                        </div>
                    </div>
                    </div>
                </div>
                {% empty %}
                    <div class="container">
                        <h3>Oops! No posts with this query "{{request.GET.q}}"</h3>
                    </div>
                {% endfor %}
            </div>
            <ul class="pagination">
                {% if posts.has_previous %}
                    <a class="btn btn-outline-success mb-4 mr-1" href="?page=1">First</a>
                    <a class="btn btn-outline-success mb-4 mr-1" href="?page={{ posts.previous_page_number}}">Previous</a>                
                {% endif %}

                {% for p in posts.paginator.page_range %}
                    {% if posts.number == p %}
                        <a class="btn btn-success mb-4 mr-1 active" href="?page={{ p }}">{{ p }}</a>
                    {% elif p > posts.number|add:'-3' and p < posts.number|add:'3' %}
                    <!-- if selected page is 3 then 12[3]45-->
                        <a class="btn btn-success mb-4 mr-1" href="?page={{ p }}">{{ p }}</a>
                    {% endif %} 
                {% endfor %}

                {% if posts.has_next %}
                    <a class="btn btn-outline-success mb-4 mr-1" href="?page={{ posts.next_page_number}}">Next</a>
                    <a class="btn btn-outline-success mb-4" href="?page={{ posts.paginator.num_pages}}">Last</a>
                {% endif %}
            </ul>
</div>
{% endblock content %}