{% extends 'blog/base.html' %}
{% block content %}
<div class="container">
        <h5 class="card-header border-0 rounded">{{ request.user|capfirst }}- unpublished questions <span class="badge badge-secondary">{{drafted_ques_count}}</span></h5>
        {% for ques in drafted_ques %}
            <div class="card mt-2">
                    <div class="card-body">
                      <h5 class="card-title"><a href="{% url 'edit-ask-question' ques.id %}" class="text-success">{{ ques.title }}</a></h5>
                      <p class="card-text">{{ ques.description|safe|truncatewords:5 }}</p>
                      <p class="card-text"><small class="text-muted">{{ ques.created }}</small></p>
                      <!-- <a href="#" class="btn btn-primary">Button</a> -->
                    </div>
                  </div>
        {% endfor %}  
</div>
{% endblock content %}